In [1]:
!pip install nltk

Requirement already satisfied: nltk in /Users/mounikaatmakuri/anaconda3/lib/python3.11/site-packages (3.8.1)
Requirement already satisfied: click in /Users/mounikaatmakuri/anaconda3/lib/python3.11/site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in /Users/mounikaatmakuri/anaconda3/lib/python3.11/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/mounikaatmakuri/anaconda3/lib/python3.11/site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in /Users/mounikaatmakuri/anaconda3/lib/python3.11/site-packages (from nltk) (4.65.0)

In [2]:
import nltk

In [3]:
#nltk.download_shell()

In [4]:
messages = [line.rstrip() for line in open('/Users/mounikaatmakuri/Downloads/Refactored_Py_DS_ML_Bootcamp-master/20-Natural-Language-Processing/smsspamcollection/SMSSpamCollection')]

In [5]:
print(len(messages))

5574

In [6]:
type(messages)

list

In [7]:
messages[0]

'ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [8]:
label = []
message = []
for i in range(len(messages)):
    m = messages[i].split('\t')
    #print(m[0])
    #print(type(m[0]))
    label.append(m[0])
    message.append(m[1])

In [9]:
#print(label)

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame({'Label':label,'Message':message},columns=['Label','Message'])

In [12]:
df.head()

  Label                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [13]:
df

     Label                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5569  spam  This is the 2nd time we have tried 2 contact u...
5570   ham               Will ü b going to esplanade fr home?
5571   ham  Pity, * was in mood for that. So...any other s...
5572   ham  The guy did some bitching but I acted like i'd...
5573   ham                         Rofl. Its true to its name

[5574 rows x 2 columns]

In [14]:
df.groupby('Label').describe()

      Message
        count unique                                                top freq
Label
ham      4827   4518                             Sorry, I'll call later   30
spam      747    642  Please call our customer service representativ...    4

In [15]:
df.head()

  Label                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
df['Message_Length'] = df['Message'].apply(len)

In [17]:
df.head()

  Label                                            Message  Message_Length
0   ham  Go until jurong point, crazy.. Available only ...             111
1   ham                      Ok lar... Joking wif u oni...              29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...             155
3   ham  U dun say so early hor... U c already then say...              49
4   ham  Nah I don't think he goes to usf, he lives aro...              61

In [18]:
import string

In [19]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [20]:
from nltk.corpus import stopwords

In [21]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [22]:
mess = 'This is a sample message! Great day.'

In [23]:
def message_process(mess):
    '''
    1.remove punctuations using string.punctuation()
    2.remove stopwords
    3.return list of clean words
    '''
    nopunc = [c for c in mess if c not in string.punctuation]
    nopunc = ''.join(nopunc)
    clean_words = [nopunc for nopunc in nopunc.split() if nopunc not in stopwords.words('english') ]
    return clean_words

In [24]:
df['Message'].head(5).apply(message_process)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, I, dont, think, goes, usf, lives, around...
Name: Message, dtype: object

In [25]:
###################################################################################################################

In [26]:
from sklearn.feature_extraction.text import CountVectorizer

In [27]:
transf = CountVectorizer(analyzer=message_process).fit(df['Message'])

In [28]:
print(len(transf.vocabulary_))

11617

In [29]:
msg4 = df['Message'][3]

In [30]:
msg4

'U dun say so early hor... U c already then say...'

In [31]:
bow4 = transf.transform([msg4])

In [32]:
print(bow4)

  (0, 4221)	2
  (0, 4821)	1
  (0, 5453)	1
  (0, 6396)	1
  (0, 6414)	1
  (0, 7378)	1
  (0, 9746)	2

In [33]:
print(bow4.shape)

(1, 11617)

In [34]:
transf.get_feature_names_out()[4221]

'U'

In [35]:
bow_transf = transf.transform(df['Message'])

In [36]:
bow_transf.nnz

56023

In [38]:
bow_transf.shape

(5574, 11617)

In [ ]:
###################################################################################################################

In [39]:
from sklearn.feature_extraction.text import TfidfTransformer

In [40]:
transf_itf = TfidfTransformer().fit(bow_transf)

In [41]:
transf_itf4 = transf_itf.transform(bow4)

In [42]:
print(transf_itf4)

  (0, 9746)	0.5385646067677111
  (0, 7378)	0.43892654361995487
  (0, 6414)	0.3187194704645006
  (0, 6396)	0.29953702357852297
  (0, 5453)	0.29729874569144354
  (0, 4821)	0.26619920942830005
  (0, 4221)	0.40833633319308066

In [44]:
bow_transf_itf = transf_itf.transform(bow_transf)

In [45]:
###################################################################################################################

In [46]:
from sklearn.naive_bayes import MultinomialNB

In [47]:
model = MultinomialNB().fit(bow_transf_itf,df['Label'])

In [49]:
model.predict(transf_itf4)[0]

'ham'

In [50]:
all_pred = model.predict(bow_transf_itf)

In [52]:
all_pred

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype='<U4')

In [53]:
from sklearn.model_selection import train_test_split

In [85]:
msg_train,msg_test,label_train,label_test = train_test_split(df['Message'],df['Label'],test_size=0.2)

In [86]:
df

     Label                                            Message  Message_Length
0      ham  Go until jurong point, crazy.. Available only ...             111
1      ham                      Ok lar... Joking wif u oni...              29
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...             155
3      ham  U dun say so early hor... U c already then say...              49
4      ham  Nah I don't think he goes to usf, he lives aro...              61
...    ...                                                ...             ...
5569  spam  This is the 2nd time we have tried 2 contact u...             160
5570   ham               Will ü b going to esplanade fr home?              36
5571   ham  Pity, * was in mood for that. So...any other s...              57
5572   ham  The guy did some bitching but I acted like i'd...             125
5573   ham                         Rofl. Its true to its name              26

[5574 rows x 3 columns]

In [ ]:
###################################################################################################################

In [56]:
from sklearn.pipeline import Pipeline

In [59]:
pipeline = Pipeline([
            ('bow',CountVectorizer(analyzer=message_process)),
            ('tftdf',TfidfTransformer()),
            ('classifier',MultinomialNB())
    
            ])

In [60]:
pipeline.fit(msg_train,label_train)

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function message_process at 0x1576b9260>)),
                ('tftdf', TfidfTransformer()),
                ('classifier', MultinomialNB())])

In [87]:
predictions = pipeline.predict(msg_test)

In [88]:
msg_test

4548    Hey mate. Spoke to the mag people. We‘re on.  ...
4653                               Where r e meeting tmr?
3039    You are not bothering me but you have to trust...
564     GENT! We are trying to contact you. Last weeke...
5081    "Keep ur problems in ur heart, b'coz nobody wi...
                              ...
4102    GSOH? Good with SPAM the ladies?U could b a ma...
2852              Are you going to wipro interview today?
4133    Hi baby ive just got back from work and i was ...
4336    Now u sound like manky scouse boy steve,like! ...
4817    Anything is valuable in only 2 situations: Fir...
Name: Message, Length: 1115, dtype: object

In [65]:
from sklearn.metrics import classification_report

In [66]:
print(classification_report(label_test,predictions))

              precision    recall  f1-score   support

         ham       0.96      1.00      0.98       965
        spam       0.99      0.71      0.83       150

    accuracy                           0.96      1115
   macro avg       0.97      0.86      0.90      1115
weighted avg       0.96      0.96      0.96      1115

In [68]:
##########################################################################################################